.welcome{
    font-size: calc(12vw - 2vh);
    height: 100vh;
    text-align: center;
    text-emphasis: filled sesame;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}